<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <!-- Trigger the modal with a button -->
    <%= link_to "Apply for a New Loan", new_loan_application_path, remote: true, class: "btn btn-info"%>

    <!-- Modal Container -->
    <div id="loan-form-modal" class="modal fade" role="dialog"></div>
    <div id="pdf-modal" class="modal fade" role="dialog"></div>
<!--     <div class="ajax-loader hide"><img src="ajax-loader.gif"></div> -->
    <div class="loan-apps-listing">
      <%= render "loan_info" %>
    </div>
  </div>
</div>

