<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- brand and toggle group -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" id="logo">Loanify<sup>BETA</sup></a>
    </div>
    <!-- collect the login, signup, account, etc. links -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to "Update Profile", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to new_user_session_path do %>
          <span class="glyphicon glyphicon-user"></span>
          Log In
          <% end %>
        </li>
        <li><%= link_to new_user_registration_path do %>
          <span class="glyphicon glyphicon-log-in"></span>
          Sign Up
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>  <!-- /.collapse -->
  </div> <!-- /.container -->
</header>